@-moz-document domain("xnykcxt.com") {
  :root {
    --system-accent-color: AccentColor;

    --primary-bg-reduced: color-mix(in srgb, var(--secondary-bg) var(--alpha), transparent);
    --primary-color: var(--system-accent-color, #38ADEA);
    --primary-color-reduced: color-mix(in srgb, var(--primary-color) var(--alpha), transparent);
    --shadow-color: #0000005c;

    @media (prefers-color-scheme: light) {
      --alpha: 24%;
      --primary-bg: #EEF0F1;
      --canvas-bg: #FEFFFE;
      --secondary-bg: #C7C7C8;
      --border-color: #b8babd;
      --btn-border-color: #D0D0D1;
      --canvas-text-color: #232629;
      --button-text-color: var(--canvas-text-color);
      --text-secondary: #6F7C8A;
      --card-bg: #f9fbfcbd;
      --positive-color: #20AE5E;
      --warning-color: #F77300;
      --danger-color: #db4251;
      --button-bg: #FEFFFE;
      --button-active-bg: #c6c8c8a1;
    }

    @media (prefers-color-scheme: dark) {
      --alpha: 48%;
      --primary-bg: #292E32;
      --canvas-bg: #1A1D20;
      --secondary-bg: #22262A;
      --border-color: #5A5D62;
      --btn-border-color: #595D62;
      --canvas-text-color: #FCFCFC;
      --button-text-color: var(--canvas-text-color);
      --text-secondary: #FCFCFC;
      --card-bg: #292e32ba;
      --positive-color: #20AE5E;
      --warning-color: #F77300;
      --danger-color: #DB4351;
      --button-bg: #30363B;
      --button-active-bg: #595d62a1;
    }

    --positive-color-reduced: color-mix(in srgb, var(--positive-color) var(--alpha), transparent);
    --warning-color-reduced: color-mix(in srgb, var(--warning-color) var(--alpha), transparent);
    --danger-color-reduced: color-mix(in srgb, var(--danger-color) var(--alpha), transparent);

    --border-color-reduced: color-mix(in srgb, var(--border-color) var(--alpha), transparent);
    --hybrid-bg: color-mix(in srgb, var(--primary-bg) 50%, var(--secondary-bg));

    --disabled-button-text-color: color-mix(in srgb, var(--button-text-color) 32%, transparent);
  }

  /* global */
  body > * > .wrap {
    background-color: var(--primary-bg) !important;
  }

  body > * > .wrap > .router-view {
    border-radius: unset !important;
    width: -moz-available !important;
    height: -moz-available !important;
    margin: unset !important;
  }

  .container {
    background-color: var(--canvas-bg) !important;
  }
  .container > div.content {
    padding-top: 10px !important;
    border-color: var(--border-color);
    border-width: 1px;
    border-radius: unset !important;
    height: calc(100vh) !important;
    background-color: var(--canvas-bg) !important;
    &:not(:has(> .question-body)) {
      padding-bottom: 150px !important;
    }
  }
  .container:has(.swiper-slide) > div.content {
    height: calc(100vh - 36px) !important;
    border-top-style: solid !important;
  }
  .container:has(.swiper-slide:only-child) > div.content {
    height: 100vh !important;
    border-top-style: unset !important;
  }
  div.content:is(.container) {
    height: 100vh !important;
  }
  .ant-empty {
    color: var(--text-secondary);
  }

  .emptyHeight {
    all: unset !important;
  }

  .emptyHeight > div.content {
    all: unset !important;
  }

  body > * > .wrap > div.nav {
    flex-direction: column;
    width: 200px !important;
    transition: width 0.2s ease-out;
  }
  body > * > .wrap > div.nav:has(.treeBox[style="display: none;"]) {
    width: 0 !important;
  }
  body > * > .wrap > div.nav:has(.treeBox[style="display: none;"]) > .slider {
    display: none !important;
  }

  ::selection {
    background: var(--primary-color-reduced);
    color: unset;
  }

  /* ant dropdown menu */
  .ant-dropdown,
  .ant-select-dropdown,
  .ant-dropdown-menu {
    transition: 0.15s ease;
    transform: unset !important;
    -webkit-transform: unset !important;
    border-radius: 5px !important;
  }

  .ant-dropdown-menu,
  .ant-select-dropdown-menu,
  .ant-dropdown-content {
    border-radius: 5px !important;
    background-color: var(--card-bg) !important;
    border-color: var(--border-color);
    border-width: 0.75px;
    border-style: solid;
    backdrop-filter: unset;
    cursor: default !important;
    padding: 4px !important;
    box-shadow: 0 4px 15px 0 var(--shadow-color) !important;
  }

  .ant-dropdown-menu-item,
  .ant-select-dropdown-menu-item,
  .ant-dropdown-content > .item,
  .ant-dropdown-menu-submenu-title {
    background-color: unset !important;
    border-radius: 6px !important;
    transition: unset !important;
    cursor: default !important;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    min-height: unset !important;
    line-height: 20px !important;
    column-gap: unset !important;
    color: var(--button-text-color) !important;
    padding-left: 6px !important;
    font-size: 14px !important;
  }

  .ant-dropdown-menu-item:hover,
  .ant-select-dropdown-menu-item:hover,
  .ant-dropdown-menu-submenu-title:hover {
    background-color: var(--primary-color-reduced) !important;
    border-color: var(--primary-color);
  }
  .ant-dropdown-menu-submenu-arrow {
    right: 0px !important;
  }
  .ant-dropdown-menu-submenu-arrow * {
    color: var(--button-text-color) !important;
  }

  /* checkbox */
  .ant-checkbox-wrapper {
    color: var(--button-text-color) !important;
  }
  .ant-checkbox-wrapper,
  .ant-checkbox,
  .ant-checkbox .ant-checkbox-inner,
  .ant-checkbox .ant-checkbox-input {
    cursor: default !important;
  }
  .ant-checkbox .ant-checkbox-inner {
    border-radius: 5px !important;
    width: 18px !important;
    height: 18px !important;
    border-color: var(--border-color-reduced) !important;
    border-width: 1px !important;
    border-style: solid !important;
    content: " " !important;
    background-color: var(--canvas-bg) !important;
    transition: unset !important;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--primary-color-reduced) !important;
    border-color: var(--primary-color) !important;
  }
  .ant-checkbox:has( .ant-checkbox-input:active) .ant-checkbox-inner {
    background-color: var(--button-active-bg) !important;
  }
  .ant-checkbox-checked:has( .ant-checkbox-input:active) .ant-checkbox-inner {
    background-color: var(--primary-color) !important;
  }
  .ant-checkbox .ant-checkbox-inner::after {
    transform: rotate(45deg) scale(1.2) translate(-50%, -50%) !important;
    transition: unset !important;
    border-color: var(--button-text-color) !important;
  }
  .ant-checkbox-checked::after {
    all: unset !important;
  }

  /* topbar */
  .container > div.content div.top {
    background-color: var(--primary-bg-reduced) !important;
    padding: 6px !important;

    border-radius: 5px !important;
    border-color: var(--border-color-reduced);
    border-width: 1px;
    border-style: solid;

    box-shadow: unset !important;
    transition: background-color 0.15s ease, box-shadow 0.15s ease !important;

    bottom: 10px;

    width: -moz-available !important;
    margin-right: 10px;
  }

  .container > div.content div.top:hover {
    background-color: var(--primary-bg) !important;
    box-shadow: 0 2px 12px 2px #0000002b !important;
    backdrop-filter: unset;
    transition: unset !important;
  }

  .container > div.content div.top.mt-10 {
    padding: unset !important;
  }

  div.top .ant-statistic-content,
  div.top .countdown span,
  div.top div > span {
    color: var(--canvas-text-color) !important;
  }

  div.top .right > .ant-btn:nth-of-type(1):has(.anticon-scan),
  div.top .countdown > span:nth-of-type(1),
  div.top span:has(+ .countdown) {
    display: none !important;
  }

  /* button */
  .paizhao-btn {
    overflow: visible !important;
  }

  button.ant-btn,
  .oper-item > *,
  .content-box > .item-box .item,
  .content-box > .score-box .item,
  .ant-tag,
  .btn,
  .board > .tools > *,
  div.nav > .put {
    background-color: var(--button-bg) !important;
    cursor: default !important;
    border-radius: 5px !important;
    transition: border-color 0.15s ease, background-color 0.15s ease, box-shadow 0.15s ease !important;
    text-shadow: unset !important;
    border-color: var(--btn-border-color) !important;
    border-width: 1px !important;
    border-style: solid;
    @media (prefers-color-scheme: light) {
      box-shadow: 0 1.25px 0 0 var(--btn-border-color) !important;
    }
    &:not([disabled="disabled"]) {
      color: var(--button-text-color) !important;
    }
    &:is([disabled="disabled"]) {
      color: var(--disabled-button-text-color) !important;
    }
  }

  div.nav > .put {
    background-color: color-mix(in srgb, var(--button-bg) var(80%), transparent) !important;
  }

  button.ant-btn::after,
  .oper-item > *::after,
  .content-box > .item-box .item::after,
  .content-box > .score-box .item::after,
  .ant-tag::after,
  .btn::after,
  .board > .tools > *::after,
  div.nav > .put::after {
    all: unset;
  }

  button.ant-btn:not([disabled="disabled"]):hover,
  .oper-item > *:hover,
  .content-box > .item-box .item:hover,
  .content-box > .score-box .item:hover,
  .ant-tag:hover,
  .btn:hover,
  .board > .tools > *:hover,
  div.nav > .put:hover {
    border-color: var(--primary-color) !important;
    transition: background-color 0.15s ease, box-shadow 0.15s ease !important;
  }

  button.ant-btn:not([disabled="disabled"]):focus-visible,
  .oper-item > *:focus-visible,
  .content-box > .item-box .item:focus-visible,
  .content-box > .score-box .item:focus-visible,
  .ant-tag:focus-visible,
  .btn:focus-visible,
  .board > .tools > *:focus-visible,
  div.nav > .put:focus-visible {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 2.5px var(--primary-color-reduced) !important;
    color: var(--button-text-color) !important;
  }
  button.ant-btn:not([disabled="disabled"]):active,
  .oper-item > *:active,
  .content-box > .item-box .item:active,
  .content-box > .score-box .item:active,
  .btn:active,
  .board > .tools > *:active,
  div.nav > .put:active {
    border-color: var(--primary-color) !important;
    &:hover {
      background-color: var(--primary-color-reduced) !important;
      color: var(--button-text-color) !important;
      transition: unset !important;
      box-shadow: unset !important;
    }
  }

  button.ant-btn-primary:not([disabled="disabled"]) {
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color-reduced) !important;
  }

  /* score box */
  .content-box > .score-box .item-2,
  .content-box > .score-box .question-title {
    color: var(--button-text-color) !important;
  }

  .content-box > .score-box .active-green:hover,
  .content-box > .item-box .green-active:hover {
    border-color: var(--positive-color) !important;
  }
  .content-box > .item-box .green-active,
  .content-box > .score-box .active-green {
    border-color: var(--positive-color) !important;
    background-color: var(--positive-color-reduced) !important;
  }
  .content-box > .score-box .active-green:active {
    border-color: var(--positive-color) !important;

    &:hover {
      background-color: var(--positive-color-reduced) !important;
    }
  }

  button.ant-btn-danger:not([disabled="disabled"]):hover,
  .content-box > .score-box .active-yellow:hover {
    border-color: var(--warning-color) !important;
  }
  .content-box > .score-box .active-yellow {
    border-color: var(--warning-color) !important;
    background-color: var(--warning-color-reduced) !important;
  }
  button.ant-btn-danger:not([disabled="disabled"]):active,
  .content-box > .score-box .active-yellow:active {
    border-color: var(--warning-color) !important;

    &:hover {
      background-color: var(--warning-color-reduced) !important;
    }
  }

  .content-box > .score-box .active-red:hover,
  .content-box > .item-box .red-active:hover {
    border-color: var(--danger-color) !important;
  }
  .content-box > .item-box .red-active,
  .content-box > .score-box .active-red {
    border-color: var(--danger-color) !important;
    background-color: var(--danger-color-reduced) !important;
  }
  .content-box > .score-box .active-red:active {
    border-color: var(--danger-color) !important;

    &:hover {
      background-color: var(--danger-color-reduced) !important;
    }
  }

  /* clean button */
  div.top button.ant-btn,
  .oper-item > *,
  .board > .tools > * {
    background-color: transparent !important;
    border-color: transparent !important;
    border-width: 1px;
    border-style: solid;
    box-shadow: unset !important;
    &:not([disabled="disabled"]) {
      color: var(--button-text-color) !important;
    }
    &:is([disabled="disabled"]) {
      color: var(--disabled-button-text-color) !important;
    }
  }

  div.top button.ant-btn-primary:not([disabled="disabled"]),
  .board > .tools > *:has(.active) {
    background-color: var(--button-active-bg) !important;
    border-color: var(--border-color-reduced) !important;
  }

  div.top button.ant-btn-loading {
    cursor: wait !important;
    color: var(--primary-bg) !important;
  }

  div.top button.ant-btn-loading::before {
    background-color: transparent !important;
    border-color: transparent !important;
  }

  div.top button.ant-btn:not([disabled="disabled"]):focus-visible,
  .oper-item > *:focus-visible,
  .board > .tools > *:focus-visible {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 2.5px var(--primary-color) 4a !important;
    color: var(--button-text-color) !important;
  }

  div.top button.ant-btn:not([disabled="disabled"]):hover,
  .oper-item > *:hover,
  .board > .tools > *:hover {
    border-color: var(--primary-color) !important;
    color: var(--text-secondary) !important;
  }

  div.top button.ant-btn:not([disabled="disabled"]):active,
  .oper-item > *:active,
  .board > .tools > *:active {
    border-color: var(--primary-color) !important;

    &:hover {
      background-color: var(--primary-color-reduced) !important;
    }
  }

  div.top button.ant-btn-danger:not([disabled="disabled"]):hover {
    border-color: var(--warning-color) !important;
    color: var(--text-secondary) !important;
  }

  div.top button.ant-btn-danger:not([disabled="disabled"]):active {
    border-color: var(--warning-color) !important;

    &:hover {
      background-color: var(--warning-color-reduced) !important;
    }
  }

  /* tabs */
  div.tabs .swiper_box:has(.swiper-slide:only-child) {
    display: none !important;
  }
  div.tabs .swiper_box {
    background-color: var(--primary-bg) !important;
  }
  div.tabs .swiper-container > .swiper-wrapper,
  div.tabs .swiper-container {
    width: fit-content !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    background-color: var(--secondary-bg) !important;
    transform: unset !important;
  }
  div.tabs .swiper-container-horizontal {
    overflow-x: auto !important;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  div.tabs .swiper-container-horizontal::-webkit-scrollbar {
    display: none;
  }

  div.tabs .swiper-container > .swiper-wrapper > .swiper-slide {
    color: var(--button-text-color) !important;
    background-color: var(--secondary-bg) !important;
    border-radius: unset !important;
    margin-right: unset !important;
    border-top-width: 3.5px;
    border-bottom-width: 3.5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: transparent !important;
    width: 175px !important;
    cursor: default !important;
  }
  div.tabs .swiper-container > .swiper-wrapper > .swiper-slide:hover {
    background-color: var(--primary-color-reduced) !important;
    transition: background-color 0.25s ease !important;
  }

  div.tabs .swiper-container > .swiper-wrapper > .sideActive,
  div.tabs .swiper-container > .swiper-wrapper > .sideActive:hover {
    background-color: var(--primary-bg) !important;
    border-top-color: var(--primary-color) !important;
    border-left-color: var(--border-color-reduced) !important;
    border-right-color: var(--border-color-reduced) !important;
    border-bottom-color: var(--primary-bg) !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    transition: unset !important;
  }

  div.tabs .swiper_box > .anticon {
    display: none !important;
  }

  div.tabs .swiper_box > .anticon:hover {
    border-color: var(--primary-color) !important;
    color: var(--text-secondary) !important;
  }

  div.tabs .swiper_box > .anticon:focus-visible {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 2.5px var(--primary-color) 4a !important;
    color: var(--text-secondary) !important;
  }

  div.tabs .swiper_box > .anticon:active {
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color-reduced) !important;
  }

  .red-print {
    background: var(--danger-color);
  }

  /* windowed modal */
  div.ant-modal-root > .ant-modal-wrap:has(> .ant-modal > .ant-modal-content > .ant-modal-body > iframe) {
    overflow-y: hidden !important;
  }
  div.ant-modal-root > .ant-modal-wrap > .ant-modal:has(> .ant-modal-content >.ant-modal-body > iframe) {
    width: -moz-available !important;
    top: 0 !important;
    padding-bottom: unset !important;
  }
  div.ant-modal-root > .ant-modal-wrap > .ant-modal {
    transform-origin: unset !important;
    transform: unset !important;
  }

  div.ant-modal-root > .ant-modal-wrap > .ant-modal .ant-modal-content {
    &:has( >.ant-modal-body > iframe) {
      border-radius: unset !important;
      box-shadow: unset !important;
    }
    &:not(:has( >.ant-modal-body > iframe)) {
      border-radius: 5px !important;
      border-style: solid;
      border-color: color-mix(in srgb, var(--button-text-color) 50%, transparent);
      border-width: 1px;
      box-shadow: 0 6px 16px 0 var(--shadow-color) !important;
    }
    background-color: var(--primary-bg) !important;
  }

  div.ant-modal-root > .ant-modal-wrap > .ant-modal .ant-modal-body {
    padding: unset !important;
  }

  div.ant-modal-root > .ant-modal-wrap > .ant-modal .ant-modal-body > iframe {
    height: calc(100vh - 32px) !important;
  }

  div.ant-modal-root > .ant-modal-wrap > .ant-modal .ant-modal-close-x {
    width: 24px !important;
    height: 24px !important;
    line-height: 0px !important;
    padding: 4px !important;
  }

  div.ant-modal-root > .ant-modal-wrap > .ant-modal .ant-modal-header {
    &:not(:has(.ant-modal-body > iframe)) {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    }
    &:has(.ant-modal-body > iframe) {
      padding: unset !important;
    }
    padding-left: 12px !important;
    border-bottom-color: var(--border-color) !important;

    @media (prefers-color-scheme: light) {
      background: linear-gradient(color-mix(in srgb, var(--hybrid-bg) 25%, #fff), var(--hybrid-bg)) !important;
    }
    @media (prefers-color-scheme: dark) {
      background: linear-gradient(color-mix(in srgb, var(--hybrid-bg) 95%, #fff), var(--hybrid-bg)) !important;
    }
    height: 32px !important;

    position: sticky !important;
    top: 0;
  }

  div.ant-modal-root > .ant-modal-wrap > .ant-modal .ant-modal-title {
    color: var(--button-text-color) !important;
    font-size: 14px !important;
  }

  button.ant-modal-close {
    background-color: transparent !important;
    cursor: default !important;
    border-radius: 24px !important;
    color: var(--button-text-color) !important;
    transition: unset !important;
    margin: 5px !important;
    vertical-align: unset !important;
  }

  button.ant-modal-close:hover {
    background-color: color-mix(in srgb, var(--danger-color) 64%, #fff) !important;
    color: var(--hybrid-bg) !important;
  }
  button.ant-modal-close:active {
    background-color: color-mix(in srgb, var(--danger-color) 64%, #000) !important;
  }

  /* statistics */
  div.courseStatistics {
    margin: unset !important;
  }

  div.courseStatistics > * {
    border-radius: 5px !important;
    border-width: 1px;
    border-style: solid;
  }

  div.courseStatistics > .scoreRate {
    border-color: var(--warning-color);
    background-color: var(--warning-color-reduced) !important;
  }

  div.courseStatistics > .scoreRate .select-box {
    background-color: var(--warning-color-reduced) !important;
    border-width: 1px;
    border-color: var(--warning-color);
    border-top-style: solid;
    border-bottom-style: solid;
    &:is(.select-box-left),
    &:is(.select-w) {
      border-top-left-radius: 5px !important;
      border-bottom-left-radius: 5px !important;
      border-left-style: solid;
    }
    &:is(.select-box-right),
    &:is(.select-w) {
      border-top-right-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
      border-right-style: solid;
    }

    padding: unset !important;
  }

  div.courseStatistics > .scoreRate .ant-row-flex * {
    font-weight: unset !important;
    color: var(--canvas-text-color) !important;
  }

  div.courseStatistics > .tag {
    border-color: var(--border-color);
    background-color: var(--border-color-reduced) !important;
  }

  div.courseStatistics > .tag * {
    font-weight: unset !important;
    color: var(--canvas-text-color) !important;
  }


  div.courseStatistics > .tag .select {
    background-color: var(--border-color-reduced) !important;
    border-radius: 5px !important;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);

    padding: unset !important;
  }


  div.courseStatistics > .tag .ant-col {
    background-color: unset !important;
  }

  div.courseStatistics > .time {
    border-color: var(--primary-color);
    background-color: var(--primary-color-reduced) !important;
  }

  div.courseStatistics > .time dt,
  div.courseStatistics > .time span {
    font-weight: unset !important;
    color: var(--canvas-text-color) !important;
  }

  div.courseStatistics > .time .select {
    background-color: var(--primary-color-reduced) !important;
    border-radius: 5px !important;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary-color);

    padding: unset !important;
  }

  /* slider */
  div.nav > .slider {
    background-color: var(--primary-bg) !important;
    color: var(--canvas-text-color) !important;
    width: -moz-available !important;
    margin-right: unset !important;
    height: 36px !important;
    min-height: unset !important;
    border-color: var(--border-color);
  }

  body:has(.swiper-slide:only-child) .slider,
  body:not(:has(.swiper-slide)) .slider {
    border-width: 1px;
    border-right-style: solid;
  }

  div.nav > .slider .menu {
    padding-top: unset !important;
    display: flex;
    flex-direction: row;
  }

  div.nav > .slider .menu > * {
    background-color: transparent !important;
    border-radius: unset !important;
    width: 43px !important;
    height: -moz-available !important;
    line-height: 34px !important;
    cursor: default !important;
    border-color: transparent;
    border-top-width: 4px;
    border-top-style: solid;
    color: var(--canvas-text-color) !important;
  }

  div.nav > .slider .menu > *:hover {
    color: var(--text-secondary) !important;
    background-color: var(--primary-color-reduced) !important;
  }

  div.nav > .slider .menu > .active,
  div.nav > .slider .menu > *:active {
    background-color: var(--primary-color-reduced) !important;
    border-width: 4px;
    border-color: var(--primary-color);
  }

  div.nav > .put {
    z-index: 999;
    width: 36px !important;
    height: 36px !important;
    background-color: #fcfcfc30 !important;
    right: -42px !important;
    top: 42px !important;
  }

  div.nav > .put:hover {
    background-color: var(--primary-bg) !important;
  }
  div.nav > .put:active {
    background-color: var(--primary-color-reduced) !important;
  }

  /* treeBox */
  div.nav > .treeBox {
    background-color: var(--primary-bg) !important;
    margin: unset !important;
    border-radius: unset !important;
    border-color: var(--border-color);
    border-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    height: calc(100vh - 36px) !important;
    width: 200px !important;
  }

  div.nav > .treeBox > .title {
    height: 0 !important;
    font-size: 0 !important;
  }
  div.nav > .treeBox .ant-tree,
  div.nav > .treeBox .ant-tree-switcher,
  div.nav > .treeBox .ant-tree-node-content-wrapper,
  div.nav > .treeBox .ant-tree-title,
  div.nav > .treeBox .ant-tree-title span,
  div.nav > .treeBox .ant-tree-treenode-selected,
  div.nav > .treeBox .noMsg {
    color: var(--canvas-text-color) !important;
  }

  div.nav > .treeBox .ant-tree-child-tree > li:first-child,
  div.nav > .treeBox .ant-tree li {
    padding-top: 2px !important;
  }

  div.nav > .treeBox > .roll-box {
    height: 100% !important;
  }

  div.nav > .treeBox > .roll-box > * > .folder {
    padding: unset !important;
  }

  div.nav > .treeBox > .roll-box > * > .folder .folderName {
    background-color: transparent !important;
    border-radius: unset !important;
    margin-top: unset !important;
  }

  div.nav > .treeBox > .roll-box > * > .folder .folderName,
  div.nav > .treeBox > .roll-box > * > .folder .folderName .ant-badge {
    color: var(--canvas-text-color) !important;
  }

  div.nav > .treeBox > .roll-box > * > .folder .active,
  div.nav > .treeBox > .roll-box > * > .folder li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper::before {
    background-color: var(--primary-color-reduced) !important;
  }

  div.nav > .treeBox > .roll-box > * > .folder .folderName[data-v-56a2485d]:hover,
  div.nav > .treeBox > .roll-box > * > .folder .folderName:hover,
  div.nav > .treeBox > .roll-box > * > .folder .active:hover,
  div.nav > .treeBox > .roll-box > * > .folder li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper:hover::before,
  .ant-tree.ant-tree-directory .ant-tree-child-tree > li span.ant-tree-node-content-wrapper:hover::before,
  .ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper:hover::before {
    background-color: color-mix(in srgb, var(--primary-color-reduced) var(--alpha), transparent) !important;
    color: var(--canvas-text-color) !important;
  }

  div.nav > .treeBox > .roll-box > * > .folder .folderName[data-v-56a2485d]:active,
  div.nav > .treeBox > .roll-box > * > .folder .folderName:active,
  div.nav > .treeBox > .roll-box > * > .folder li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper:active::before,
  .ant-tree.ant-tree-directory .ant-tree-child-tree > li span.ant-tree-node-content-wrapper:active::before,
  .ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper:active::before {
    background-color: var(--primary-color) !important;
  }

  div.nav > .treeBox > .roll-box > * > .folder .ant-tree *,
  div.nav > .treeBox > .roll-box > * > .folder .ant-tree *::before,
  div.nav > .treeBox > .roll-box > * > .folder .ant-tree *::after {
    transition: unset !important;
    transform: unset !important;
    cursor: default !important;
  }

  div.nav > .treeBox > .roll-box > * > .folder li.ant-tree-treenode-selected > span.ant-tree-switcher {
    color: inherit !important;
  }

  /* myth obfuscated data */
  div.nav > .treeBox .c-f0[data-v-c0063122],
  div.nav > .treeBox .c-f0[data-v-c0063122] > .ant-tree-node-content-wrapper,
  div.nav > .treeBox .c-f0[data-v-93794d94],
  div.nav > .treeBox .c-f0[data-v-93794d94] > .ant-tree-node-content-wrapper {
    color: inherit !important;
  }

  div.nav > .treeBox .c-f0[data-v-c0063122] > .ant-tree-node-content-wrapper > .ant-tree-title,
  div.nav > .treeBox .c-f0[data-v-93794d94] > .ant-tree-node-content-wrapper > .ant-tree-title,
  div.nav > .treeBox > .roll-box > * > .folder .folderName[style="color: rgb(255, 0, 0);"]:empty,
  div.nav > .treeBox > .roll-box > * > .folder .folderName > span[style="color: rgb(255, 0, 0);"] .ant-badge {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-underline-offset: 2.5px;
  }

  div.content div[style="height: 60px;"] {
    height: 0 !important;
  }

  /* quests */
  .content .quesContent {
    border-width: 1px !important;
    border-radius: 5px !important;
    margin-top: 0 !important;
    border-color: transparent !important;
  }

  .content .quesContent:hover,
  .content,
  .content .quesContent.active,
  .content .quesContent:active {
    background-color: var(--primary-bg-reduced);
  }
  .quesContent .itemContent .txt *,
  .quesContent .textContent,
  .quesContent .questionAnswer *,
  .quesContent .questionAnalysis * {
    font-family: serif !important;
  }
  @media (prefers-color-scheme: dark) {
    .quesContent .itemContent .txt,
    .quesContent .textContent,
    .quesContent .itemContent .txt img,
    .quesContent .textContent img,
    .questionAnswer,
    .questionAnalysis,
    .questionAnswer img,
    .questionAnalysis img,
    .question-body .question-box .txt,
    .question-body .question-box .txt img {
      filter: invert(100%);
    }

    .quesContent img {
      background-color: white;
    }
  }
  .fileContent {
    color: var(--canvas-text-color) !important;
  }
  .quesContent .alreadyAnswer .answer,
  .quesContent .result,
  .quesContent .result2 > .imgBox,
  .answer-box .subjective > .img-box {
    color: var(--canvas-text-color) !important;
    border-color: var(--text-secondary) !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 0 !important;
    background-color: transparent !important;
  }
  .quesContent .alreadyAnswer .answer,
  .quesContent .result {
    font-size: 16px !important;
    font-weight: 350 !important;
    height: 25px !important;
    width: 54px !important;
    text-align: center !important;
    line-height: unset !important;
  }
  .quesContent .myAnswer > div {
    padding-top: 0px !important;
  }
  .quesContent .alreadyAnswer .answer:has(+ .true),
  .quesContent .result2 > .trueBorder > .bg > span,
  .answer-box .subjective > .img-box:is(.trueBorder) .font-source {
    background-color: var(--positive-color-reduced) !important;
  }
  .quesContent .result2 > .trueBorder > .bg span,
  .answer-box .subjective > .img-box:is(.trueBorder) .font-source,
  .answer-box .subjective > .img-box:is(.trueBorder) .font-source span {
    color: color-mix(in srgb, var(--positive-color) var(--alpha), var(--primary-bg)) !important;
  }
  .quesContent .alreadyAnswer .answer:has(+ .error),
  .quesContent .result2 > .errorBorder > .bg > span,
  .answer-box .subjective > .img-box:is(.errorBorder) .font-source {
    background-color: var(--danger-color-reduced) !important;
  }
  .quesContent .result2 > .errorBorder > .bg span,
  .answer-box .subjective > .img-box:is(.errorBorder) .font-source,
  .answer-box .subjective > .img-box:is(.errorBorder) .font-source span {
    color: color-mix(in srgb, var(--danger-color) var(--alpha), var(--primary-bg)) !important;
  }
  .quesContent .alreadyAnswer .answer:has(+ .partRight),
  .quesContent .result2 > .partRightBorder > .bg > span,
  .answer-box .subjective > .img-box:is(.partRightBorder) .font-source {
    background-color: var(--warning-color-reduced) !important;
  }
  .quesContent .result2 > .partRightBorder > .bg span,
  .answer-box .subjective > .img-box:is(.partRightBorder) .font-source,
  .answer-box .subjective > .img-box:is(.partRightBorder) .font-source span {
    color: color-mix(in srgb, var(--warning-color) var(--alpha), var(--primary-bg)) !important;
  }
  .quesContent .result2 .bg > span,
  .quesContent .result2 .imgBox,
  .answer-box .subjective > .img-box,
  .answer-box .subjective > .img-box .font-source {
    text-align: center !important;
    height: 90px !important;
    width: 130px !important;
  }
  .quesContent .result2 .bg > span {
    backdrop-filter: brightness(0.75);
  }
  .quesContent .badge-box,
  .answer-box .badge-box {
    color: transparent !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: var(--canvas-text-color) !important;
  }
  .quesContent .alreadyAnswer .icon {
    display: none !important;
  }
  /* btns */
  .quesContent:is(.active) > ul > li .ant-btn {
    border-radius: unset !important;
    border-left-width: 0.5px !important;
    border-right-width: 0.5px !important;
  }
  .quesContent:is(.active) > ul > li:nth-of-type(1) .ant-btn {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-left-width: 1px !important;
  }
  .quesContent:is(.active) > ul > li:nth-last-of-type(1) .ant-btn {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-right-width: 1px !important;
  }

  .anticon-check:is(.true) {
    color: var(--positive-color) !important;
  }
  .lx-partially-line:is(.partRight) {
    color: var(--warning-color) !important;
  }
  .anticon-close:is(.error) {
    color: var(--danger-color) !important;
  }


  /* ai table */
  .container > .content:has(.content-box > .table) {
    color: var(--canvas-text-color) !important;
  }

  /* submission, edition */
  .con > .oper {
    background: var(--primary-bg) !important;
    border-color: var(--border-color);
    border-left-width: 1px;
    border-left-style: solid;
  }
  .oper-item {
    margin: unset !important;
    cursor: default !important;
  }
  .oper-item > .icon {
    padding: 5px;
    width: 54px;
  }
  .cropper-canvas {
    box-shadow: 0 4px 15px 0 var(--shadow-color) !important;
  }

  .content-box {
    background: var(--primary-bg) !important;
  }
  .board > .tools > * > .iconfont {
    color: unset !important;
  }
  .board > .tools {
    background: var(--primary-bg) !important;
  }

  /* printing */
  @media print {
    .content,
    .router-view,
    html > body {
      overflow: visible !important;
      display: block !important;
      height: -moz-available !important;
    }
    .content {
      border-style: unset !important;
    }
    .wrap > .nav,
    .content .top,
    .content .courseStatistics,
    .content .alreadyAnswer,
    .content .myAnswer,
    .content .result2,
    .container .tabs,
    .content .quesContent:has(.file),
    .content .quesContent *:has(> .questionAnswer),
    .content .quesContent .ant-btn {
      display: none !important;
    }
    .ant-tag {
      box-shadow: unset !important;
      border-style: unset !important;
    }
    .quesContent {
      display: block !important;
    }
  }
}
